<section>
    <div class="top-div rounded mb-12 h-1/2 p-24">
        <div class=" container mx-auto bg-black bg-opacity-50 text-white">
            <h1 class="text-4xl font-bold mb-2 text-center">Dream Service</h1>
            <h6 class="text-sm font-semibold text-center w-1/2 mx-auto">"Great success in Business is never
                achieved
                by a
                Single Person.
                They are achieved by Great Team, Here we not only have great team of people connected with us
                but
                people with great expertise in their own field."
            </h6>
        </div>
    </div>
    <div class="container mx-auto mt-12">
        <div>
            <h3 class="text-xl font-semibold mt-12 mb-6 inline-block">Basic Information</h3>
            {{#if messages.error}}
            <div class="text-center">
                <span class="text-red-500 font-bold ">{{messages.error}}</span>
            </div>
            {{/if}}
            <hr>
        </div>
        <div class="flex item-center justify-evenly shadow bg-white">
            <div class="w-1/3 mb-5">
                <div class="flex item-center justify-center relative bg-opacity-50">
                    <img src="../../img/{{data.profile.image}}" class="h-64 w-64 mt-5 object-cover rounded-full shadow">
                </div>
                <h1 class="text-2xl font-semibold text-center heading-name">{{data.name}}
                    <span class="ml-2 font-bold text-sm text-black">{{data.profile.role}}</span>
                </h1>
                <h4 class="text-sm font-bold text-center">Joined Since '19</h4>
            </div>
            <div class="w-1/3">
                <div
                    class="my-5 rounded shadow py-2 px-6 focus:outline-none focus:shadow-outline font-bold text-md bg-gray-100 w-full">
                    <div class="w-1/4 inline-block">Phone </div>
                    <span class="mr-8">:</span>
                    <span>{{data.profile.phone}}</span>
                </div>

                <div
                    class="my-4 rounded shadow py-2 px-6 focus:outline-none focus:shadow-outline font-bold text-md bg-gray-100">
                    <div class="w-1/4 inline-block">Email</div>
                    <span class="mr-8"> :</span>
                    <span>{{data.email}}</span>
                </div>


                <div
                    class="my-4 rounded shadow py-2 px-6 focus:outline-none focus:shadow-outline font-bold text-md bg-gray-100">
                    <div class="w-1/4 inline-block">City</div>
                    <span class="mr-8">:</span>
                    <span>{{data.profile.city}}</span>
                </div>

                <div
                    class="my-4 rounded shadow py-2 px-6 focus:outline-none focus:shadow-outline font-bold text-md bg-gray-100">
                    <div class=" w-1/4 inline-block">Status</div>
                    <span class="mr-8">:</span>
                    <span>{{data.profile.status}}</span>
                </div>

                <div
                    class="my-4 rounded shadow py-2 px-6 focus:outline-none focus:shadow-outline font-bold text-md bg-gray-100">
                    <div class="w-1/4 inline-block">Rate</div>
                    <span class="mr-8"> :</span>
                    <span>₹ {{data.profile.price}} / hour</span>
                </div>

                <div
                    class="my-4 rounded shadow py-2 px-6 focus:outline-none focus:shadow-outline font-bold text-md bg-gray-100">
                    <div class="w-1/4 inline-block">Jobs Done</div>
                    <span class="mr-8"> :</span>
                    <span>{{data.profile.jobsDone }} Jobs till now</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button onclick="document.getElementById('myModal').style.display='block'"
            class="w-1/4 mx-auto font-bold text-lg text-white rounded-full py-2 main-btn mb-12">Book
            Now</button>
        <div id="myModal" class="modal bg-white">
            <div class="modal-content w-2/6 mx-auto bg-white">
                <button class="font-bold text-lg float-right rounded px-4 bg-red-500 text-white"
                    onClick="document.getElementById('myModal').style.display = 'none'">&times</button>
                <hr class="mt-8">

                <form action="/offers" method="POST">
                    <div>
                        <label class="float-left block text-grey-darker text-sm font-bold mb-2" for="id">Id</label>
                        <input name="id" id="id" type="text"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                            value={{data._id}}>
                    </div>
                    <div class="my-4">
                        <label class="float-left block text-grey-darker text-sm font-bold mb-2"
                            for="phone">Phone</label>
                        <input type="text" id="phone"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="phone"
                            placeholder="phone no.">
                    </div>
                    <div class="">
                        <label class="float-left  text-grey-darker text-sm font-bold mb-2" for="address">Address</label>
                        <input type="text" id="address" name="address"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                            placeholder="address.">
                    </div>
                    <div class="my-4">
                        <label class="float-left  text-grey-darker text-sm font-bold mb-2" for="offerRate">Offer rate /
                            hour</label>
                        <input type="text" id="offerRate" name="offerRate"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                            placeholder="₹ / hour ">
                    </div>
                    <div class="mb-4 text-center  mx-auto">
                        <button type="submit"
                            class="w-1/2 mx-auto font-bold text-lg text-white rounded-full py-2 main-btn">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>